- rcache('replace/cat') do
  .pure-g{style: 'width:100%; padding:4px'}
    = render 'shared/item_header'
    .pure-u-1-4#link_to_cat
      = cache_replace_key :cat_button
    .pure-u-1-4#link_to_best_friend
      = cache_replace_key :cat_friend_button
    .pure-u-1-2#buttons
      .sharing_button
        .typical_stuff
          = cache_replace_key :googs_buttons