%h1 Cache Rocket

.pure-g{padding: '5px'}
  = render 'shared/header'
  - @cats.each do |cat|
    = render_cached 'cat',
    replace: {cat_button: cat_button(cat),
    cat_friend_button: cat_button(cat.best_friend),
    googs_buttons: googs_button(cat) + googs_button(cat.best_friend)}
