.pure-g
  .pure-u-1-3{style: 'display: none'}
    = link_to("cats!", "https://google.com?q=lolcats")
  .pure-u-1-3{style: 'display: none'}
    = link_to("dogs!", "https://google.com?q=loldogs")
  .pure-u-1-3{style: 'display:none'}
    %strong
      secrets
    %br
    %em
      secrets