<!DOCTYPE html>
<html>
<head>
  <title>CacheReplaceBenchmark</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'pure-min' %>
</head>
<body>

<div class='pure-g' style='padding: 25px'>
  <%= yield %>
</div>

</body>
</html>
